button{
    background-color: #dfdfdf;
    color: #1565C0;
    padding: 5px ;
    margin: 8px 0;
    cursor: pointer;

}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}