html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

form{
    background-color: white;
    padding: 0px 60px;
    border-radius: 10px;
}

h1{
}

button{
    width: 100%;
    padding: 10px;
    border: none;
}